#sidebar {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: $celeste;
    //padding: 20px;

    .container {
    padding: 20px;

    .nav-bar {

        .nav-item {
            &.active {
                color: red;
                border-bottom: 2px solid red;
            }
        }
    }
    }
}

.main {
    margin-left: 300px;
}


section {
    height: 100vh;
}

section:nth-child(odd) {
    background-color: $celeste-2;
}