.ic:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .5s;
  .text-center {
    font-size: 800;
  }
  svg {
    filter: drop-shadow(0px 0px 7px rgb(70, 70, 70));
    transition: 0.5s;
  }
}

.ic {
  transition: .5s;
  >div>div {
    display: flex;
    justify-content: center;
  }
  svg {
    transition: 0.5s;
  }
  &.effect {
    svg {
      filter: drop-shadow(0px 0px 7px rgb(70, 70, 70));
      transition: 0.5s;
    }
  }
}

.dark {
  .ic:hover {

    svg {
      filter: drop-shadow(0px 0px 7px #7DD3FC);
    }
  }
  .ic {
    transition: .5s;
    >div>div {
      display: flex;
      justify-content: center;
    }
    svg {
      transition: 0.5s;
    }
    &.effect {
      svg {
        filter: drop-shadow(0px 0px 7px #7DD3FC);
        transition: 0.5s;
      }
    }
  }
}